.about-page {
  padding: 10% 5%;
  .interest-item{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 2px solid darkgrey;
    border-radius: 20px;
    height: 260px;
    .music-stuff {
    padding-top: 20px;
    padding-bottom: 20px;
    }
    
  }
  p, h1, h3 {
    color: white;
  }

  .music-img {
    width: 200px;
  }
}