.about-page {
  padding: 10% 5%;
  .interest-item{
    display: flex;
    align-items: center;
    justify-content: center;
    .music-stuff {
    padding-top: 20px;
    }
    
  }
  p, h1 {
    color: white;
  }

  .music-img {
    width: 200px;
  }
}