.about-page {
  max-width: 100%;
  padding: 10% 5%;
  .about-text {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    .text {
      font-family: 'Inconsolata', monospace;
      font-size: larger;
    }
  }
    .theatre-item {
      padding-top: 60px;
      .text {
        max-width: 100%;
        width: 800px;
        margin: 0 auto;
        font-family: 'Inconsolata', monospace;
        font-size: larger;
      }
      .theatre-stuff {
        max-width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
        img {
        max-width: 100%;
        width: 250px;
        height: 150px;
        margin: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        }
      }
    }
    .music {
      display: flex;
      flex-direction: column;
      align-items: center;
      .music-stuff {
        max-width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .music-img {
          max-width: 100%;
          width: 250px;
          padding: 20px;
        }
      }
      .text {
        width: 800px;
        font-family: 'Inconsolata', monospace;
        font-size: larger;
      }
    }
  }
  p, h1, h3 {
    max-width: 100%;
    color: white;
  }
