.experience {
  font-family: 'Inconsolata', monospace;
  padding: 100px;
  p {
    color: white;
  }
  .skills {
    color: rgb(232, 118, 247);
  }
  h4, h5 {
    color: #3e3eff;
  }
  .maintext {
    font-size: 2em;
  }
  span {
    color: white;
  }
}
