.main-container {
  display: flex;
  flex-direction: row;
  padding: 10%;
  font-family: 'Inconsolata', monospace;
  .welcome {
    color: #3e3eff;
    font-size: 7em;
  }
  h2 {
    color: rgb(232, 118, 247);
  }
  .main-about {
    width: 80%;
    p {
      color: white;
    }
  }
}

.welcome-icon-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  .welcome-icons {
    color: white;
    margin: 20px;
  }
}

.list-text {
  width: 0;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

li:hover .list-text {
  width: auto;
}

li {
  list-style: none !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  .list-text {
    color: white;
    text-align: center;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 3em;
  }
}
