.link-icons {
  transform: scale(1.5);
  padding: 0;
}

.icons-navbar {
  max-width: 100%;
  width: 180px;
  display: flex;
  justify-content: space-between;
}

.collapse-bar {
  background-color: black;
  height: 100%;
}

.collapse-link {
  text-decoration: none;
}

.navbar {
  background-color: #07070757;
}

.navbar-container {
  height: 4em;
}
