.link-icons {
  transform: scale(2.5);
  width: 50px;
}

.icons-navbar {
  width: 150px;
  padding: -20px;
  display: flex;
  justify-content: space-between;
}

.collapse-bar {
  background-color: black;
  height: 100%;
}

.collapse-link {
  text-decoration: none;
}

.navbar {
  background-color: #07070757;
}

.navbar-container {
  height: 4em;
}