.projects-container {
  max-width: 100%;
  font-family: 'Inconsolata', monospace;
  .projects-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: 3em;
    color: #3e3eff;
    text-align: center;
    margin-bottom: 1.5em;
  }
  .heading {
    color: rgb(232, 118, 247);
    font-family: 'Inconsolata', monospace;
  }
}
.project1, .project2, .project3, .project4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 2px solid grey;
  max-width: 100%;
  width: 80%;
  padding: 2em;
  color: white;
  .project-text {
    width: 40%;
  }
  .heading {
    font-size: 1.6em;
  }
}

.imgp1 {
  width: 600px;
}

.imgp2 {
  width: 600px;
}

.imgp3 {
  width: 600px;
}

.project3-stuff {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-description {
  padding-right: 20px;
  color: white;
  font-family: 'Inconsolata', monospace;
  font-size: larger;
}
